.DeliveryInfo {
}

.DeliveryInfo__title {
  font-family: Tenor Sans, Arial, serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.DeliveryInfo__description {
  font-family: Didact Gothic, Arial, serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  max-width: 400px;
}

@media (min-width: 700px) {
  .DeliveryInfo__description {
    max-width: 560px;
  }
}
