.PageHeader {
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
}

.PageHeader__compensator {
  height: 55px;
}

.PageHeader__content {
  max-width: 690px;
  margin: 5px auto;
}

.PageHeader__label {
  padding: 0 6px;
  position: relative;
  top: -8px;
  left: -10px;
}

.PageHeader__cart {
  padding: 20px;
  cursor: pointer;
}
