.PageHeader {
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  position: relative;
}

.PageHeader__cartIcon {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.PageHeader__cartIconLabel {
  position: absolute;
  right: -0.5em;
  top: 1.8em;
  font-size: 12px;
}

@media (min-width: 330px) {
  .PageHeader__cartIcon {
    right: 1em;
  }
}
