.PageHeader {
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  position: relative;
}

.PageHeader__cart {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  color: #b1b1b1;
}
.PageHeader__cartIcon {
  display: none;
}

@media (min-width: 330px) {
  .PageHeader__cart {
    right: 1em;
  }

  .PageHeader__cartIcon {
    display: inline;
  }
}
