.DishList {
  max-width: 720px;
}

.DishList__list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
}

.DishList__listItem {
  margin-right: 30px;
  margin-bottom: 30px;
}

@supports (display: grid) {
  .DishList__list {
    margin-right: 0;
    max-width: 100%;
  }

  .DishList__listItem {
    margin-right: 0;
    margin-bottom: 0;
  }

  .DishList__list {
    display: grid;
    grid-gap: 15px;

    grid-template-columns: repeat(2, 1fr);
  }

  .DishList__tabs > div:first-child {
    max-width: 320px;
  }

  @media (min-width: 330px) {
    .DishList__list {
      grid-gap: 20px;
    }
  }

  @media (min-width: 700px) {
    .DishList__list {
      grid-gap: 25px;
      grid-template-columns: repeat(3, 1fr);
    }

    .DishList__tabs > div:first-child {
      max-width: 500px;
    }
  }

  @media (min-width: 900px) {
    .DishList__list {
      grid-gap: 30px;
      grid-template-columns: repeat(4, 1fr);
    }

    .DishList__tabs > div:first-child {
      max-width: 720px;
    }
  }
}
